# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.vscode

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env*
!.env.local.example


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# sanity
believe-studio/node_modules
believe-studio/build/Release
believe-studio/logs
believe-studio/dist
believe-studio/lib
believe-studio/.next