@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility input {
  @apply flex w-full h-10 px-3 py-2 text-sm border rounded-md bg-white ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-slate-500 focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  /* End Of body Typography */
}
@utility input-text {
  @apply flex w-full h-10 px-3 py-2 text-sm border rounded-md dark:bg-transparent;
  /* End Of body Typography */
}
@utility form-label {
  @apply block text-sm font-medium leading-6 text-gray-900 dark:text-blue-50 capitalize;
  /* End Of body Typography */
}
@utility bg-theme {
  @apply bg-primary-100 dark:bg-primary-900;
  /* End Of body Typography */
}
@utility wrapper {
  @apply mx-auto max-w-7xl sm:px-6 lg:px-8;
  /* End Of body Typography */
}
@utility system-colour {
  @apply dark:bg-primary-950 bg-primary-5;
  /* End Of body Typography */
}
@utility wrapper-sapce {
  @apply p-4 space-y-4 sm:space-y-8 sm:my-8 md:my-16 md:space-y-16 lg:my-20 lg:space-y-20;
  /* End Of body Typography */
}
@utility display-large {
  @apply text-[3.563rem] leading-tight font-normal dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility display-medium {
  @apply text-[2.813rem] leading-tight tracking-tight font-normal dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility display-small {
  @apply text-[2.25rem] leading-tight font-normal dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility headline-large {
  /* End Of Display Typography */
  @apply text-4xl font-extrabold tracking-tight text-primary-950;
  /* End Of body Typography */
}
@utility headline-medium {
  @apply text-[1.75rem] leading-tight font-bold capitalize dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility headline-small {
  @apply text-[1.5rem] leading-tight font-bold capitalize dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility title-large {
  /* End Of Headline Typography */
  @apply text-[1.375rem] leading-tight font-normal dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility title-medium {
  @apply text-base leading-tight font-normal dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility title-small {
  @apply text-sm leading-tight font-normal dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility label-large {
  /* End Of title Typography */
  @apply text-sm dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility label-medium {
  @apply text-xs dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility label-small {
  @apply text-xxs/* 11 px */ dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility body-large {
  /* End Of label Typography */
  @apply text-base font-normal leading-7 tracking-normal dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility body-medium {
  @apply text-sm font-normal leading-6 tracking-wide dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}
@utility body-small {
  @apply text-xs font-normal leading-4 dark:text-primary-50 text-primary-950;
  /* End Of body Typography */
}

@layer utilities {
  @font-face {
    font-family: 'OpenSans';
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    src: url('/fonts/OpenSans-Variable.ttf') format('truetype');
  }
}

@layer base {
  body {
    @apply system-colour;
  }
  p {
    @apply body-medium md:body-large;
  }
}

#__next {
  min-height: 100%;
}
