* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Public Sans';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Public Sans';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/PublicSans-Italic-VariableFont_wght.ttf') format('truetype');
}
@tailwind base;
@layer base {
  p {
    @apply text-base font-sans  leading-8
  }
}
@tailwind components;
@layer components {
  .wrapper {
    @apply mx-auto max-w-7xl sm:px-6 lg:px-8
  }
  .type-display-large {
    @apply text-[3.563rem] text-gray-700
  }
  .type-display-medium {
    @apply text-[2.813rem] text-gray-700
  }
  .type-display-small {
    @apply text-[2.25rem] text-gray-700
  }
  .type-headline-large {
    @apply text-[2rem] text-gray-700 font-bold capitalize leading-tight
  }
  .type-headline-medium {
    @apply text-[1.75rem] text-gray-700 font-bold capitalize leading-tight
  }
  .type-headline-small {
    @apply text-[1.5rem] text-gray-700 font-bold capitalize leading-tight
  }
  .type-title-large {
    @apply text-lg text-gray-700
  }
  .type-title-medium {
    @apply text-base text-gray-700
  }
  .type-title-small {
    @apply text-sm text-gray-700 font-medium
  }
  .type-label-large {
    @apply text-sm text-gray-700 font-medium
  }
  .type-label-medium {
    @apply text-xs text-gray-700 font-medium
  }
  .type-label-small {
    @apply text-[0.688rem] text-gray-700 font-medium
  }
  .type-body-large {
    @apply text-base text-gray-700
  }
  .type-body-medium {
    @apply text-sm text-gray-700
  }
  .type-body-small {
    @apply text-xs text-gray-700
  }
}
@tailwind utilities;