* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Public Sans';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Public Sans';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/PublicSans-Italic-VariableFont_wght.ttf') format('truetype');
}
@tailwind base;
@layer base {
  p {
    @apply text-base font-sans text-gray-600 leading-8
  }
}
@tailwind components;
@layer components {
  .wrapper {
    @apply mx-auto max-w-7xl sm:px-6 lg:px-8
  }
}
@tailwind utilities;