* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2') format('woff2');
}
@tailwind base;
@tailwind components;
@layer components {
  .wrapper {
    @apply mx-auto max-w-7xl sm:px-6 lg:px-8
  }
}
@tailwind utilities;